html {
    background-color: #6c645c;
}

h1 {
    background-color: #171c22;
    color: rgba(255, 255, 255, 0.7);
    padding: 8px;
    margin: 0;
    text-align: center;
}

body {
    max-width: 800px;
    margin: 0 auto;
}

.cover {
    width: 200px;
    height: auto;
    margin: 8px;
    margin-top: 0;
}

.container {
    background-color: #9c9484;
    margin: 8px auto;
    padding: 8px;
    text-align: center;
}

.flexbox {
    display: flex;
    margin: 8px;
    justify-content:space-around;
}